*,
*::after,
*::before {
  box-sizing: border-box;
}
::selection {
  background: $primary-color; /* Safari */
  color: #fff;
}
::-moz-selection {
  background: $primary-color; /* Firefox */
  color: #fff;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: $secondary-color;

  &:hover {
    background-color: $primary-color;
    // background-color: rgba(250, 204, 21, .8);
  }
}

body::-webkit-scrollbar-track {
  background-color: #c0c0c0;
}